body{
    width: 100%;
    min-width: 340px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'ZCOOL XiaoWei';
    font-family: 'Roboto';
}
#head h3{
    font-size: 20px;
    padding-left: 30px;
}
#head h1{
    font-size: 30px;
    color: #EC4C7A;
    font-weight: 800;
    padding-left: 30px;
}
#head p{
    color: darkgray;
    padding-left: 30px;
}
#hire-me{
    margin-left: 30px;
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(235, 69, 185), tomato);
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: 800;
    color: white;
    font-family: 'Roboto';
    font-style: italic;
}
#head{
    height: 500px;
    padding-bottom: 20px;
    background-image: url(/images/header-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#wrapper-mid{
    height: 500px;
    padding-bottom: 20px;
    background-image: url(/images/biography-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
aside{
    width: 50%;
    box-sizing: border-box;
    float: left;
    height: 250px;
    font-family: roboto;
}
#work{
    height: 400px;
    padding-bottom: 20px;
    background-image: url(/images/latest-work-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.left{
    width: 33%;
    float: left;
}

main{
    width: 100%;
    box-sizing: border-box;
    float: left;  
    clear: both;  
}
footer{
    width: 100%;
    box-sizing: border-box;
    float: left;
    clear: both;

}
#top-left{
    width: 60%;
    padding-left: 20px;
}
#top-right{
    width: 40%;
    height: 500px;
    background-image: url("/images/danbo1.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: top, center;
    border-radius: 50%;

}
#mid-left{    
    height: 500px;
    width: 40%;
    background-image: url("/images/danbo-love.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top, left;
    padding-bottom: 30px;
}
#mid-right{
    width: 60%;
    height: 500px;
    padding-bottom: 30px;
    margin-top: 50px;
}
#biography{
    color: darkgray;
}
#download-cv{
    margin-left: 0px;
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(235, 69, 185), tomato);
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: 800;
    color: white;
    font-family: 'Roboto';
    font-style: italic;
}
#work-one{
    background-image: url("/images/last1.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}
#work-two{
    background-image: url("/images/last2.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}
#work-three{
    background-image: url("/images/last3.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}
#letest-work{
    text-align: center;
    font-family: roboto;
    padding-bottom: 20px;
    color: rgb(32, 20, 20);
}
#work{

}
#client{
    padding-top: 30px;
    text-align: center;
}
footer{
    width: 50%;
    text-align: center;
    background-image: linear-gradient(rgb(236, 43, 172), rgb(143, 14, 93));
    background-position: center;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 8px;
    margin-bottom: 50px;
    color: blanchedalmond;
}
#client h4{
    color: darkgrey;
    font-size: 12px;
    font-style: italic;
}
#footer{
    height: 400px;
    padding-bottom: 20px;
    background-image: url(/images/footer-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}